body {
    font-family: 'IBM Plex Mono', monospace;
    padding-left: 40px;
    font-size: x-large;
    background-color: blueviolet;
    color: white;
    color: rgba(0, 255, 8);
}

h1 { 
    color: white;
}

h2 {
    color: white;
}

a {
    font-style: italic;
    color: rgba(0, 255, 8);
}

a:hover {
    color: white;
}

span {
    background-color: blueviolet;
    padding: 2px;
}

@media all and (min-width: 901px) {
    body {
        padding-left: 120px;
        padding-right: 120px;
    }
}

@media all and (max-width: 900px) {
    body {
        padding-left: 12px;
        padding-right: 12px;
    }
}
